.board {
	display: grid;
	grid-template-columns: repeat(8, 40px);
	grid-template-rows: repeat(8, 40px);
	margin: auto;
}

.square {
	width: 40px;
	height: 40px;
}

.white {
/*
	background-color: #f0d9b5;
*/
	background-color: #eeeeee;
}

.black {
/*
	background-color: #b58863;
*/
	background-color: #111111;
}

.piece {
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	color: #cc0000;
}
